html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Text', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F7F7F9;
}

a, a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Design System Shadows */
.shadow_dark_500 {
  box-shadow: 0 3px 20px rgba(33, 32, 60, 0.24);
}

/* React-Select component */
.select__menu {
  z-index: 10 !important;
}
.select__control {
  border: 2px solid #EBECF2 !important;
  border-radius: 16px !important;
  height: 54px;
}
.select__value-container {
  padding-left: 16px !important;
}
.select__indicator {
  padding-right: 24px !important;
}
.select__indicators > span {
  display: none;
}

/* Quill component */
.ql-tooltip.ql-hidden {
  display: none;
}
.ql-clipboard {
  display: none;
}

/* Loader CSS */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: .5s;
}
.dot-flashing::before {
  left: -15px;
  animation-delay: 0s;
}
.dot-flashing::before, .dot-flashing::after {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  animation: dot-flashing 1s infinite alternate;
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::after {
  left: 15px;
  animation-delay: 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dot-flashing {
  0% {
    background-color: #E1458D;
  }
  50%, 100% {
    background-color: #FFC9E2;
  }
}

@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../public/fonts/red-hat-text-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../public/fonts/red-hat-text-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-500 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../public/fonts/red-hat-text-v6-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../public/fonts/red-hat-text-v6-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-700 - latin */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../public/fonts/red-hat-display-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../public/fonts/red-hat-display-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'TeX Gyre Adventor';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/texgyreadventor-regular-webfont.woff');
}
@font-face {
  font-family: 'TeX Gyre Adventor';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/texgyreadventor-bold-webfont.woff');
}
